<h1 class="text-center mt-4">Edit article</h1>

<%= render 'form' %>
<div class="row">
  <div class="col-12 text-center mt-2">
    <%= link_to '[Cancel and return to articles listing]', articles_path %>
  </div>
</div>
